.body {
    display: flex;
    min-height: 80vh;
    background-image: url('../../../../assets/icon/Main-Bg.svg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    align-items: center;
}

input {
    outline: none;
    border: none ;
}

.input-box {
    padding: 4px;
    border: 3px solid rgba(172, 171, 171, 0.575) !important;
    border-radius: 8px;
    text-align: center;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #808080d1;
}

.login-button {
    border: none ;
    padding: 4px 24px;
    background-color: #F36C6C;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    
    
    &:hover {
        cursor: pointer;
        background-color: #f3a3a3;
    }
}

.app-icon-container {
    margin-bottom: 40px;
    img {
        min-width: 96px;
    }
}